.container{
 background-image: url('../src/image/img(11).webp');
 height: 100vh;
}
.header{
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  padding-top: 20px;
} 
.login{
margin-left: 800px;
}
.marginheader{
  margin-left: 80px
}
.footer{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 150px;
  padding-right: 250px;
  align-items: flex-end;
}
.headnig{
  color: cornflowerblue;
  padding-right: 90px;
  
  
}
.paragraph{
  color:darkcyan;
}
.button{
  background-color: 'yellow';
  padding-right: 210px;
}







